<html>
    
<body background="https://wallup.net/wp-content/uploads/2017/11/17/272956-dark-black-cube-square-Tile-simple.jpg">
   
        <button class="add-newtodo-button" type="submit" value="add todo">Confirm</button>
    <form action="index.html">
        <button class="add-newtodo-button" type="submit" value="add todo">Back</button>
    </form>
<br><br><br><br>
    
    <span style="color:White;">What needs to be Done?</span>
    <br>
        <input type="text" placeholder="Add a Task"></span>
    <br>
    <span style="color:White;">When is it Due?</span>
    <br>
        <input type="text" placeholder="Due Date"></span>
    <br>
    <span style="color:White;">How Long will it take?</span>
    <br>
        <input type="number" step="5" placeholder="Time in Minutes">
    <br>
    



</body>
</html>