<body>
    <form action="create">
    <span style="color:White;">What needs to be Done?</span>
    <br>
        <input name="desc" type="text" placeholder="Description"></span>
    <br>
    <span style="color:White;">When is it Due?</span>
    <br>
        <input name="due" type="text" placeholder="Due Date"></span>
    <br>
    <span style="color:White;">How Long will it take?</span>
    <br>
        <input name="time" type="text" placeholder="Time">
    <br>
            <button class="add-newtodo-button" type="submit" value="add todo">Confirm</button>
    </form>
<form action="index.html">
        <button class="add-newtodo-button" type="submit" value="add todo">Back</button>
    </form>

</body>