<body>

    <h2 class="bawb">Index</h2>
    <div id="wrapper">
    <span>
    <form action="AddTask">
        <button align="center" id="B1"
        type="submit" value="add todo">Add a Task</button>
    </form>
    </span>
        <button align="center" id="B1"
        type="submit" value="add todo">Delete</button>
    </div>
    <br>
    
    
<table>
    <tr>
        <td>What Needs to Be done?</td>
        <td>Due Date?</td>
        <td>Time</td>
    </tr>
    
    <tr>
        <td>Make A lot of Money</td> 
        <td>June 12th</td>
        <td>9999</td>
    </tr>

    <tr>
        <td>Make A lot of Money</td>
        <td>June 12th</td>
        <td>9999</td>
    </tr>
    
      <tr>
        <td>Make A lot of Money</td>
        <td>June 12th</td>
        <td>9999</td>
    </tr>
    
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<br>



</body>