<body>

    <h2 class="bawb">Index</h2>
    <div id="wrapper">
    <span>
    <form action="AddTask">
        <button align="center" id="B1"
        type="submit" value="add todo">Add a Task</button>
    </form>
    </span>
    <form action="index">
        <button align="center" id="B1"
        type="submit" value="add todo">Delete</button>
    </form>
    </div>
    <br>
    
    
<table>
    
    <tr>
        <td>Done?</td>
        <td>What Needs to Be done?</td>
        <td>Due Date?</td>
        <td>Time</td>
    </tr>
    
        <% @todos.each do |todo| %>
    <tr>
        <td><form action="/todo/destroy/<%= todo.id %>"<a class="add-newtodo-button" href="/todo/destroy">Delete</a></td>
        <td><%= todo.desc %></td>
        <td><%= todo.due %></td>
        <td><%= todo.time %></td>
    </tr>
    
    <% end %>
</table>
<br>

</body>