<body>
    <div id="wrapper">
    <form action="index"><button id="B1" type="submit" value="Back">Back</button></form>
    <form action="index"><button id="B1" type="submit" value="Home">Home</button></form>
    <form action="party1"><button id="B1" type="submit" value="Next">Next</button></form>
    </div>
    <br>

<iframe height="720" width="1280" src='https://www.youtube.com/embed/y90yaLFoYoA?autoplay=1' frameborder='0' allow="autoplay; encrypted-media" allowfullscreen></iframe>
   
</body> 